#duvidas {
    background-color: var(--color-primary-1);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    color: var(--color-primary-3);
}

#duvidas img {
    width: 10%;
    height: 10%;
}

.metadeDois h2 {
    margin-left: 20px;
}

.metadeUm h1 {
    font-size: 27pt;
}

.metadeUm h2 {
    font-size: 23pt;
}

.metadeUm .cta_buttons {
    display: block;
    max-width: fit-content;
}

.metadeDois .cta_buttons {
    display: none;
}

.cta_buttons a {
    text-decoration: none;
    color: var(--color-primary-1);
    font-size: 18pt;
}

#duvidas li {
    display: flex;
    flex-direction: row;
}

#duvidas .metadeUm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

#duvidas .metadeDois li {
    align-items: center;
    padding: 2rem;
}

@media screen and (max-width: 800px) {
    #duvidas {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {

    #duvidas {
        display: flex;
        flex-direction: column;
    }

    .metadeUm .cta_buttons {
        display: none;
    }
    
    .metadeDois .cta_buttons {
        margin-top: 20px 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .metadeDois .cta_buttons a {
        display: flex;
        justify-content: center;
        font-size: 15pt;
        text-align: center;
        height: 60px;
        font-weight: 800;
    }

    #duvidas img {
        width: 18%;
    }

    #duvidas h2 {
        font-size: 12pt;
        margin-left: 10px;
    }

    .metadeUm, .metadeDois {
    display: flex;
    flex-direction: column;
    }


}