#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: var(--color-primary-2);
    font-weight: 700;
    font-size: 24px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
}

#testimonials .section-title {
    text-align: center;
    color: var(--color-primary-1);
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedbacks {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: fit-content;
    margin: 30px auto 40px auto;
    max-width: 1200px;
    justify-content: center;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-primary-1);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-content img {
    width: 15%;
}

.feedback-content .cliente {
    color: var(--color-primary-3);
    margin-top: 5rem;
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
    color: var(--color-primary-2);
}

.feedback-content p span {
    color: var(--color-primary-6);
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }
} 